/* FONTS  */

@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');

/* BASE STYLES */

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    max-width: 100vw;
}

main {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 60px;
}

.start {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.history {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background-color: #FF782E;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.types {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background-color: #FF7F7F;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.video {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    background-color: #D2FFCE;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    display: flex;
    justify-content: center;
}

/* TEXT  */

h1 {
    font-family: "Liu Jian Mao Cao";
    margin: 0;
    margin-top: -10px;
}

h2 {
    font-family: "Open Sans Condensed";
    font-weight: 300;
    align-self: center;
}

p {
    font-size: 1.2em;
}

span {
    color: #BB0028;
}

p {
    font-family: "Open Sans Condensed";
}

/* IMAGES  */


/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) { */ /* This is not nessecary? */

    /* START PAGE */

    .start-small {
        min-width: 375px;
        max-width: 450px;
        height: auto;
        background-size: cover;
        align-self: center;
    }

    h1 {
        font-size: 40px;
    }

    .downArrow {
        width: 40px;
        height: 40px;
        align-self: center;
        margin-bottom: 3vh;
    }

    /* HISTORY PAGE */

    .history-contentWrapper {
        width: 100%;
        overflow: hidden;
    }

    .history-small {
        width: 100%;
        height: auto;
        margin-left: 80px;
        position: relative;
    }

    .history-paragraf {
        position: absolute;
        left: 2vh;
    }

    .history-contentWrapper p {
        margin-top: 20px;
    }

    /* TYPES PAGE */

    .types-contentWrapper {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .types-paragraf {
        position: absolute;
        padding: 10px;
        margin-left: 20%;
    }

    .types-small {
        height: 400px;
        width: 400px;
        width: 100%;
        height: auto;
        margin-left: 130px;
        position: relative;
    }

    /* VIDEO PAGE */

    h1 {
        font-size: 40px;
    }

    .h2-start {
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 0;
        text-align: center;
    }

    .downArrowVideo {
        width: 65px;
        height: 65px;
        align-self: center;
        margin-top: 20%;
    }

    .youTubeVideo {
        height: 200px;
        width: 100%;
    }

    .downArrowVideo {
        transform: rotate(180deg);
        width: 40px;
        height: 40px;
        align-self: center;
        margin-bottom: 30px;
    }

/* } */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    /* START */

    h1 {
        font-size: 50px;
    }

    .downArrow {
        width: 65px;
        height: 65px;
        align-self: center;
        margin-bottom: 3vh;
    }

    .start-small {
        width: 70%;
        height: auto;
        align-self: center;
    }

    .h2-start {
        font-size: 46px;
        font-weight: 300;
        margin: 0;
        text-align: center;
    }

    /* HISTORY */

    .history-contentWrapper {
        width: 100%;
        overflow: hidden;
    }

    .history-small {
        width: 80%;
        height: auto;
        margin-left: 20%;
        position: relative;
    }

    .history-paragraf {
        position: absolute;
        left: 20%;
    }

    .history-contentWrapper p {
        margin-top: 20px;
    }


    /* TYPES */

    .types-contentWrapper {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .types-paragraf {
        position: absolute;
        padding: 10px;
        margin-left: 25%;
        margin-top: 10%;
    }

    .types-small {
        width: 100%;
        height: auto;
        margin-left: 20vh;
        position: relative;
    }

    /* VIDEO */

    .downArrowVideo {
        transform: rotate(180deg);
        width: 65px;
        height: 65px;
        align-self: center;
        margin-bottom: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    /* START PAGE */


    /* HISTORY PAGE */


    /* TYPES PAGE */
    


    /* VIDEO PAGE */

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .h2-start {
        font-size: 55px;
    }

    p {
        font-size: 24px;
    }

    /* START PAGE */


    /* HISTORY PAGE */


    /* TYPES PAGE */
    


    /* VIDEO PAGE */

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* START PAGE */


    /* HISTORY PAGE */


    /* TYPES PAGE */
    


    /* VIDEO PAGE */

}