/* FONTS  */

@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap');

/* BASE STYLES */

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    height: 60px;
}

.history {
    background-color: #FF782E;

}

.types {
    background-color: #FF7F7F;

}

.video {
    background-color: #D2FFCE;

}

a {
    display: flex;
    justify-content: center;
}

.start,
.history,
.types,
.video {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

/* TEXT  */

h1 {
    font-family: "Liu Jian Mao Cao";
    font-size: 40px;
    margin: -10px 0 0 0;
}

h2 {
    font-family: "Open Sans Condensed";
    font-weight: 300;
    align-self: center;
    margin: 15px 0 0 0;
    font-size: 32px;
    text-align: center;
}

p {
    font-family: "Open Sans Condensed";
    font-size: 1.2em;
}

span {
    color: #BB0028;
}

/* START PAGE */

.start-small {
    width: 70%;
    height: auto;
    background-size: cover;
    align-self: center;
}

.downArrow {
    width: 40px;
    height: 40px;
    align-self: center;
    margin-bottom: 3vh;
}

/* HISTORY PAGE */

.history-contentWrapper {
    width: 100%;
}

.history-small {
    width: 100%;
    height: auto;
    margin-left: 80px;
    position: relative;
    border-radius: 100%;
}

.history-paragraf {
    position: absolute;
    margin-left: 4%;
}

.history-contentWrapper p {
    margin-top: 20px;
}

/* TYPES PAGE */

.types-contentWrapper {
    width: 100%;
    position: relative;
}

.types-paragraf {
    position: absolute;
    padding: 10px;
    margin-left: 20%;
}

.types-small {
    height: 400px;
    width: 400px;
    width: 100%;
    height: auto;
    margin-left: 130px;
    position: relative;
}

/* VIDEO PAGE */

h1 {
    font-size: 40px;
}

.h2-start {
    font-size: 32px;
    font-weight: 300;
    margin: 0;
    text-align: center;
}

.iframe-contentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iframe-contentWrapper iframe {
    width: 90vw;
    height: 40vh;
}

.downArrowVideo {
    transform: rotate(180deg);
    width: 40px;
    height: 40px;
    align-self: center;
    margin-bottom: 30px;
}

/* Small devices (portrait tablets and large phones, 600px and up) ---*/
@media only screen and (min-width: 600px) {

    /* START */

    h1 {
        font-size: 50px;
    }

    .downArrow {
        width: 65px;
        height: 65px;
        align-self: center;
        margin-bottom: 3vh;
    }

    .start-small {
        width: 60%;
        height: auto;
        align-self: center;
    }

    .h2-start {
        font-size: 46px;
        font-weight: 300;
        margin: 0;
        text-align: center;
    }

    /* HISTORY */

    .history-contentWrapper {
        width: 100%;

    }

    .history-small {
        width: 80%;
        height: auto;
        margin-left: 20%;
        position: relative;
    }

    .history-paragraf {
        position: absolute;
        left: 7%;
    }

    .history-contentWrapper p {
        margin-top: 20px;
    }

    /* TYPES */

    .types-contentWrapper {
        width: 100%;

        position: relative;
    }

    .types-paragraf {
        position: absolute;
        padding: 10px;
        margin-left: 25%;
        margin-top: 10%;
    }

    .types-small {
        width: 100%;
        height: auto;
        margin-left: 20vh;
        position: relative;
    }

    /* VIDEO */

    .iframe-contentWrapper iframe {
        width: 80vw;
        height: 45vh;
    }

    .downArrowVideo {
        transform: rotate(180deg);
        width: 65px;
        height: 65px;
        align-self: center;
        margin-bottom: 30px;
    }
}

/* Medium devices (landscape tablets, 768px and up) ------------------*/
@media only screen and (min-width: 768px) {

    /* START PAGE */

    .start-small {
        width: 50%;
        height: auto;
        align-self: center;
    }

    /* HISTORY PAGE */

    .history-small {
        width: 70%;
        height: auto;
        margin-left: 30%;
        position: relative;
    }

    .history-paragraf {
        position: absolute;
        margin-left: 10%;
        margin-top: 10%;
    }

    /* TYPES PAGE */

    .types-small {
        width: 80%;
        height: auto;
        margin-left: 30%;
        position: relative;
    }

    .types-paragraf {
        position: absolute;
        padding: 10px;
        margin-left: 30%;
        margin-top: 10%;
    }

    /* VIDEO */

    .iframe-contentWrapper iframe {
        width: 80vw;
        height: 55vh;
    }

}

/* Large devices (laptops/desktops, 992px and up) --------------------*/
@media only screen and (min-width: 992px) {

    h2 {
        font-size: 55px;
    }

    p {
        font-size: 24px;
    }

    /* START PAGE */

    .start-small {
        width: 40%;
        height: auto;
        align-self: center;
    }


    /* HISTORY PAGE */

    .history-small {
        width: 50%;
        height: auto;
        margin-left: 40%;
        position: relative;
    }


    /* TYPES PAGE */

    .types-paragraf {
        position: absolute;
        padding: 10px;
        margin-left: 40%;
        margin-top: 10%;
    }

    .types-small {
        width: 60%;
        height: auto;
        margin-left: 40%;
        position: relative;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    /* START PAGE */

    .start-small {
        width: 30%;
        height: auto;
        align-self: center;
    }

    /* HISTORY PAGE */

    .history-small {
        width: 40%;
        height: auto;
        margin-left: 50%;
        position: relative;
    }

    .history-paragraf {
        position: absolute;
        margin-left: 25%;
        margin-top: 5%;
    }

    /* TYPES PAGE */

    .types-paragraf {
        position: absolute;
        padding: 10px;
        margin-left: 40%;
        margin-top: 10%;
    }

    .types-small {
        width: 50%;
        height: auto;
        margin-left: 40%;
        position: relative;
    }

    /* VIDEO */

    .iframe-contentWrapper iframe {
        width: 65vw;
        height: 55vh;
    }
}